<header>

 
        <h2>Rotaract Dortmund Buchungsportal</h2>

        <figure>
            <img src="./public/img/Rotaract_Logo.svg"  alt="Rotaract Logo"> 
            
        </figure> 

        <nav>

            <a href="./mitglieder.html" ><label>Mitglieder</label></a>
            <a href="./start.html"><label>Veranstaltung</label></a>
            <a href="./protocols.html"><label>Protokolle</label></a>
            <label>Umfrage</label>


            <a href="./login.html" ><label  >Logout</label></a>

        </nav>
    </header>