<header>
 
        <h2>Rotaract Dortmund Mitgliederportal</h2>

        <figure>

            <a href="/start">
            <img src="./img/Rotaract_Logo.svg"  alt="Rotaract Logo"> 
        </a>
        </figure> 

        <nav>

            <a href="mitglieder" ><label>Mitglieder</label></a>
            <a href="events_ahead"><label>Veranstaltung</label></a>
            <a href="./protocols.html"><label>Protokolle</label></a>
            <label>Umfrage</label>


            <a href="./login.html" ><label  >Logout</label></a>

        </nav>
    </header>