<header>
 
         


            <div id="userstate" title="Benutzerstatus">

                <p id="username">  Benedikt Kurz &Tab; <a href="login" >Logout</a> </p>
                        
           </div>

           <h2>Rotaract Dortmund Mitgliederportal</h2>

           <figure id="logo" title="Logo von Rotaract">

                <a href="/start">
                <img src="./img/Rotaract_Logo.svg"  alt="Rotaract Logo" > 
            </a>
            </figure> 


        <nav>

            <a href="mitglieder" ><label>Mitglieder</label></a>
            <a href="events_ahead"><label>Veranstaltung</label></a>
            <a href="./protocols"><label>Protokolle</label></a>
            <a href="./admin_user"><label>Admin</label></a>
            <label>Umfrage</label>


        </nav>


        <%

            

        %>

    </header>