<!DOCTYPE html>
<html>

    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="./css/global.css">
        <meta charset="utf-8">
    </head>
    <body> 

        <a href="start" >Zugang</a>

        <h2>Login zum Rotaract Dortmund Portal</h2>

        <figure>
                <img src="./img/Rotaract_Logo.svg"  alt="Rotaract Logo"> 
         </figure>   


        <center id="login_area">

            <form method="POST" action="blub.php">

                

                <label for="username">Benutername</label> 
                <input type="text" name="username" placeholder="mustername" id="username">
                <br>
                
                <label for="pw">Passwort</label> 
                <input type="password" name="password" placeholder="Passwort" id="pw">
                <br>

                <input type="reset"> <input type="submit" value="Anmelden">

            
            </form>
        </center>
    </body>
    

</html>