<!DOCTYPE html> 
<html>

    <head>
        <title>Mitgliederportal von Rotaract Dortmund</title>
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/global.css">
        <link rel="stylesheet" href="./css/mitglieder.css">
        <meta charset="utf-8">
        
    </head>
    <body>

          <%- include("includes/header.ejs")  %> 



        <h3>Mitgieder des Rotaract Clubs Dortmund</h3>

       <div class="mitglieder">

            <div>Benedikt Sichla</div>

            <div>Caroline Harkort</div>

            <div>Magnus Kleinschnittger</div>

            <div>Stefanie Poppensieker</div>

            <div>Philipp Poppensieker</div>

            <div>Lena Berding</div>

            <div>Carrie-Ann Theophil</div>

            <div>Lena Berding</div>

            <div>Carrie-Ann Theophil</div>

            <div>Benedikt Sichla</div>

            <div>Caroline Harkort</div>

            <div>Magnus Kleinschnittger</div>

            <div>Stefanie Poppensieker</div>

            <div>Philipp Poppensieker</div>

            <div>Lena Berding</div>

            <div>Carrie-Ann Theophil</div>

            <div>Lena Berding</div>

            <div>Carrie-Ann Theophil</div>



       </div>


       <%- include("includes/footer.ejs") %>

    </body>
    </html>