<!DOCTYPE html> 
<html>

    <head>
        <title>Mitgliederportal von Rotaract Dortmund</title>
        <link rel="stylesheet" href="./css/global.css">
        <meta charset="utf-8">
        
    </head>
    <body>

          <%- include("includes/header.ejs")  %> 



        <h3>Mitgieder des Rotaract Clubs Dortmund</h3>

       

        <ul id="mitgliederliste">
            <li>Philipp Poppensieker</li>
            <li>Stefanie Poppensieker</li>
            <li>Max Tischler</li>
            <li>Julia Schulmayer</li>
            <li>Magnus Kleinschnittger</li>
            <li>Flora Holster</li>
            <li>Carolin Harkort</li>
            <li>Benedikt Kurz</li>
            <li>Jona Donner</li>
            <li>Christian Schuchardt</li>
        </ul>

        <footer>

            &copy; 2019 by RAC Dortmund and Benedikt Kurz

        </footer>


</body>
</html>
