<!DOCTYPE html> 
<html>

    <head>
        <title>Mitgliederportal von Rotaract Dortmund</title>
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/global.css">
        <meta charset="utf-8">
        
    </head>
    <body>

        <%- include("includes/header.ejs")  %> 

        <h3>Protokolle der internen Meetings</h3>

        <table>

            <tr>
                <th>Datum</th>
                <th>Meetingsleiter</th>
                <th>Ort</th>
                <th>Datei</th>
                <th>Protokollant</th>
            </tr>
            <tr>
                <td>17.07.2019</td>
                <td>Sophie Charlotte Jeiter</td>
                <td>Overkamp</td>
                <td> <a href="./res/2019-07-17_Protokoll_extern.pdf">Download</href></td>
                <td>Sophie Charlotte Jeiter</td>
            </tr>
            <tr>
                <td>05.06.2019</td>
                <td>Philipp Poppensieker</td>
                <td>Overkamp</td>
                <td> <a href="./res/2019-06-05_Protokoll_extern.pdf">Download</href></td>
                <td>Benedikt Sichla</td>
            </tr>

        </table>

        

        <%- include("includes/footer.ejs")  %> 


    </body>
</html>