<!DOCTYPE html> 

<html>

    <head>
        <title>Mitgliederportal von Rotaract Dortmund</title>
       <link rel="stylesheet" href="./css/global.css">
        <meta charset="utf-8">
        
    </head>
    <body>
    
       <%- include("includes/header.ejs")  %> 
       <%- include("includes/userstate.ejs")  %> 

       <h2>Keyfacts</h2>



       <table>

            <tr>
                <td>Gründungsdatum</td>
                <td>1.1.1989</td>
            </tr>
            <tr>
                <td>
                        Mitglieder
                </td>
                <td>
                    40
                </td>
            </tr>
            <tr>
                <td>Präsidentin</td>
                <td>Sophie Charlotte Jeiter</td>
            </tr>
            <tr>
                <td>Distrikt</td>
                <td>1900</td>
            </tr>
            <tr>
                <td>rotarische Ansprechpartner</td>
                <td>Markus Weber (RC Westentor), Nhiem Lu (RC Dortmund)</td>
            </tr>

       </table>

       <%- include("includes/footer.ejs") %>

    </body>
</html>
